
.currency {
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.currency--to {
    background-color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}